body{
    background-color: rgb(219, 219, 219);
    width:100%;
}
.navigation{
    background-color: rgb(1, 1, 3);
    padding-bottom: 20px;
    
    
}
.logo{
    color: rgb(10, 255, 14);
    font-size: 40px;
    text-align: center;
    
}
.logoimg{
    height: 50px;
    width: 100px;
    margin-top: 1%;
    margin-left: 16%;
    
}
.nav{
   
    display: inline;

}

#nav0{

    margin-left: 1cm;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right:300px;
    border: 0cm;
    text-align: center;
    margin-top: 10PX;
    border-radius: 12PX;
    padding-top: 7px;
    padding-bottom: 7px;

    
}
#nav1{
    font-size: 20px;
    margin-left: 2cm;

    

}
.category{

    width:15%;
    background-color: rgb(0, 0, 2);
    display: inline-block;
    font-size: 20px;
    position:fixed;
    vertical-align: top;
    padding-bottom: 4cm;
    top: 0%;
    padding-top: 1cm;
    left: 0%;

    
}
#phone{
    background-color: rgb(7, 19, 237);
    height: 2cm;
    width: 5.5cm;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(13, 255, 0);
    font-style: italic;
    margin-bottom: 1.5cm;
    

}
button{
    background-color: rgb(233, 4, 245);
    border: none;
    width: 150PX;
    height: 30PX;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    margin-left: 10PX;
    
    
}
.topsale{
    display:inline-block;
    vertical-align: top;
    background-color: azure;
    width:84%;
    margin-left: 15%;

}
#topsale1{
    text-align: center;
    color: brown;
    font-size: 25px;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.img{
    display: inline-block;
    vertical-align: top;
    background-color: rgb(27, 6, 248);

}
#img1{
    width: 45%;
    height: 7cm;
    margin-right: 20px;
    margin-left: 20px;
    border-radius:10px;
}
#img{
    width: 24%;
}
.des{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    color: rgb(19, 45, 244);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: rgb(246, 177, 74);
    margin-top: 0cm;
    margin-right: 20px;
    margin-left: 20px;

}

  @keyframes example {
    from{background-color: chartreuse;}
    to {background-color: bisque;}
  }
.container{
    width:1273px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 51%;
    left: 57.5%;
    overflow:hidden;
    border:4px;
    border-radius:8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}
.wrapper{
    width: 100%;
    display:flex;
    animation: slide 10s infinite;
    

}

img{
    width: 50%;
    height: 5cm;
    
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.rec{
    height: 8cm;
    background-color: rgb(11, 247, 196);
}

    
.container1{
    background-color: rgb(39, 244, 8);
    width: 60%;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 8px 2px 3px #12010d;
}
.container2{
    background-color: blanchedalmond;
    display: inline-block;
    width: 48%;
    height: 15cm;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: 27%;
}
.sign{
    text-align: center;
    font-size: 25px;
    
}
#password,#sign,#username{
    padding-top: 8px;
    padding-bottom: 4px;
    width: 5cm;
    margin-bottom: 10px;
}

.details{
    margin-left: 2cm;
    font-size: larger;
    padding-top: 4px;
}
#details{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 5cm;
    text-align: center;
}

#p12{
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    background-color: rgb(47, 12, 248);
    color: chartreuse;
    border-top: 0cm;
}
#b12{
    background-color: rgb(4, 0, 21);
}

.img12{
    width: 22%;
    height: 7cm;
    margin-right: 2%;
    margin-left: 0.5%;
    border-radius: 8px;
    border-top: 0cm;
}
.p12{
    color: rgb(1, 0, 4);
    font-size: 20px;
    display: inline-block;
    width: 22%;
    margin-right: 2%;
    margin-left: 0.5%;
    background-color: rgb(157, 137, 2);
    border-radius: 8px;
    text-align: center;
    font-style:italic;
    border-top: 0cm;
    
}
#login{
    margin-left: 40%;
    margin-top: 0.5cm;
    width: 3cm;
}
.cartx{
    display: inline-block;
    position: fixed;
    right: 0.7%;
    bottom: 1%;

    
}
#cartx{
    width:1.6cm;
    background-color: rgb(160, 147, 149);
    

}
#h1about{
    color: blue;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 40px;
    margin: 0cm;
    height: 2cm;
}
#b1{
    background-color: rgb(197, 130, 29);
    width: 100%;
    
}
#p2about{
    font-size: 20px;
    margin-left: 6%;
    
}
#p3about{
    background-color: bisque;
    font-size: 30px;
    text-align: center;

}
#p4about{
    margin-left: 6%;
    font-size: 20px;
}
#p1contact{
    font-size: 30px ;
    margin-left: 30%;
}
#contactus{
    height: 25px;
    width: 25%;
    margin-left: 20%;
    border-color: rgb(60, 250, 7);
    border-radius: 10px;
    padding-left: 10px;

}
#contactus1{
    margin-left: 20%;
    padding-bottom: 3cm;
    width: 40%;
    border-color: rgb(60, 250, 7);
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 15px;

}
#submitcontactus{
    margin-left: 55%;
    height: 30px;
    border-color: rgb(132, 255, 9);

}
table,
    th,
    td {
        border: 1px solid black;
        height: 30PX;
        text-align: center;

    }
.table{
    width: 80%;
    margin-left: 10%;
}
.th1{
    width: 10px;
}
.divx{
    margin-left: 40px;
    font-style: oblique;
    font-weight: bolder;
}
a{
    text-decoration: none;
}

